*.log
*.txt
!requirements.txt
*.sqlite
*.json
**/__pycache__/*
__pycache__/*
*-ignore/*
.idea/*
.coverage
doc/*.pdf
doc/*.synctex*
doc/*.out
doc/*.toc
doc/old/*
*.cfg
!exampleconfig.cfg
!configspec.cfg