body {
	display: grid;
	justify-items: center;
}

form {
	display: grid;
	grid-gap: 1ex;
	max-width: 60em;
}

form > label {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1ex;
}

header {
	width: 100%;
	margin-bottom: 2em;
}

header p {
	max-width: 40em;
	border: 2px solid;
	border-radius: 1ex;
	margin: 2ex auto;
	text-align: center;
}

header p.error {
	color: red;
	border-width: 3px;
}

header p.info {
	color: blue;
}

header p.success {
	color: green;
}

.status-bar {
	display: flex;
	justify-content: space-evenly;
}

#loading-overlay {
	display: none;
}

#loading-overlay.active {
	display: unset;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background: white;
}

.del-btn {
	margin-left: 2em;
}
